# -----------------------------------------------------------------------------
# Copyright 2025 Space Cubics, LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#-----------------------------------------------------------------------------
# SC-OBC module V1 FPGA: Versal Network On Chip (NoC)
#  IP setting file
#-----------------------------------------------------------------------------

set ipcore axi_noc:1.1

# AXI_NOC
set ipparam [list \
  CONFIG.NUM_CLKS {6} \
  CONFIG.NUM_MC {1} \
  CONFIG.NUM_MCP {4} \
  CONFIG.NUM_MI {0} \
  CONFIG.NUM_SI {6} \
\
  CONFIG.MC_COMPONENT_WIDTH {x16} \
  CONFIG.MC_MEMORY_DEVICETYPE {UDIMMs} \
  CONFIG.MC_MEMORY_SPEEDGRADE {DDR4-2400T(17-17-17)} \
  CONFIG.MC_MEMORY_TIMEPERIOD0 {833} \
  CONFIG.MC_ROWADDRESSWIDTH {16} \
  CONFIG.MC_CHAN_REGION1 {DDR_LOW1} \
  CONFIG.MC_DATAWIDTH {64} \
  CONFIG.MC_PARITY {false} \
  CONFIG.MC_EN_INTR_RESP {TRUE} \
  CONFIG.MC_SYSTEM_CLOCK {Internal} \
  CONFIG.MC_READ_DBI {true} \
  CONFIG.MC_WRITE_DM_DBI {NO_DM_DC_DBI} \
]
