# -----------------------------------------------------------------------------
# Copyright 2025 Space Cubics, LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#-----------------------------------------------------------------------------
# Versal AI Edge Processing System
#  IP setting file
#-----------------------------------------------------------------------------

set ipcore versal_cips:3.4

set ipparam [list \
  CONFIG.BOOT_MODE {Custom} \
  CONFIG.IO_CONFIG_MODE {Custom} \
  CONFIG.PS_PMC_CONFIG { \
    BOOT_MODE {Custom} \
    PMC_REF_CLK_FREQMHZ {50.000} \
    PMC_QSPI_PERIPHERAL_ENABLE {1} \
    PMC_QSPI_PERIPHERAL_DATA_MODE {x4} \
    PMC_QSPI_PERIPHERAL_MODE {Single} \
    PMC_QSPI_FBCLK { \
      {ENABLE 0} \
      {IO {PMC_MIO 6}} \
    } \
\
    PMC_SD1_SLOT_TYPE {eMMC} \
    PMC_SD1_PERIPHERAL { \
      {ENABLE 1} \
      {IO {PMC_MIO 26 .. 36}} \
      {CLK_100_SDR_OTAP_DLY 0x00} \
      {CLK_200_SDR_OTAP_DLY 0x2} \
      {CLK_50_DDR_ITAP_DLY 0x1E} \
      {CLK_50_DDR_OTAP_DLY 0x5} \
      {CLK_50_SDR_ITAP_DLY 0x2C} \
      {CLK_50_SDR_OTAP_DLY 0x5} \
    } \
    PMC_SD1_DATA_TRANSFER_MODE {8Bit} \
    PMC_SD1 { \
      {CD_ENABLE 0} \
      {CD_IO {PMC_MIO 2}} \
      {POW_ENABLE 0} \
      {POW_IO {PMC_MIO 12}} \
      {RESET_ENABLE 1} \
      {RESET_IO {PMC_MIO 51}} \
      {WP_ENABLE 0} \
      {WP_IO {PMC_MIO 1}} \
    } \
\
    PS_SPI1 { \
      {GRP_SS0_ENABLE 1} \
      {GRP_SS0_IO {PMC_MIO 9}} \
      {GRP_SS1_ENABLE 1} \
      {GRP_SS1_IO {PMC_MIO 8}} \
      {GRP_SS2_ENABLE 1} \
      {GRP_SS2_IO {PMC_MIO 7}} \
      {PERIPHERAL_ENABLE 1} \
      {PERIPHERAL_IO {PMC_MIO 6 .. 11}} \
    } \
\
    IO_CONFIG_MODE {Custom} \
    PMC_MIO12 { \
      {AUX_IO 0} \
      {DIRECTION inout} \
      {DRIVE_STRENGTH 8mA} \
      {OUTPUT_DATA default} \
      {PULL pullup} \
      {SCHMITT 0} \
      {SLEW slow} \
      {USAGE GPIO} \
    } \
    PMC_MIO28 { \
      {AUX_IO 0} \
      {DIRECTION in} \
      {DRIVE_STRENGTH 8mA} \
      {OUTPUT_DATA default} \
      {PULL pullup} \
      {SCHMITT 0} \
      {SLEW slow} \
      {USAGE GPIO} \
    } \
    PMC_MIO50 { \
      {AUX_IO 0} \
      {DIRECTION in} \
      {DRIVE_STRENGTH 8mA} \
      {OUTPUT_DATA default} \
      {PULL pullup} \
      {SCHMITT 0} \
      {SLEW slow} \
      {USAGE GPIO} \
    } \
\
    SMON_ALARMS {Set_Alarms_On} \
    SMON_ENABLE_TEMP_AVERAGING {0} \
    SMON_TEMP_AVERAGING_SAMPLES {0} \
\
    DDR_MEMORY_MODE {Custom} \
    PMC_HSM1_CLK_OUT_ENABLE {1} \
    PMC_CRP_HSM1_REF_CTRL_FREQMHZ {100.00} \
    PMC_CRP_PL0_REF_CTRL_FREQMHZ {100.00} \
\
    PS_USE_PMCPL_CLK0 {1} \
    PS_NUM_FABRIC_RESETS {1} \
\
    PS_USE_FPD_CCI_NOC {1} \
    PS_USE_NOC_LPD_AXI0 {1} \
    PMC_USE_PMC_NOC_AXI0 {1} \
\
    PMC_BANK_0_IO_STANDARD {LVCMOS1.8} \
    PMC_BANK_1_IO_STANDARD {LVCMOS1.8} \
    PS_BANK_2_IO_STANDARD {LVCMOS1.8} \
    PS_BANK_3_IO_STANDARD {LVCMOS1.8} \
  } \
]
